.whowearebannerfont {
  font-size: 4rem !important;
}

.wwabotline {
  position: absolute;
  left: 10%;
  top: 60%;
}

.wwabotline img {
  width: 100%;
}

.wwabpluselement {
  position: absolute;
  left: 40%;
  top: 30%;
  z-index: 1;
}

.wwasmlogo {
  position: absolute;
  left: 0%;
  top: 30%;
}

.serviceelementjwwab {
  position: absolute;
  left: 10%;
  bottom: 24%;
  z-index: 2;
}

.historyimgpartwwa {
  position: absolute;
  right: 0%;
  top: 12%;
  text-align: right;
  z-index: 5;
}

.historyimage {
  position: absolute;
  right: 0%;
  top: 16%;
  text-align: right;
  z-index: 5;
}

.historyimage img {
  animation: move 12s ease-in-out infinite;
}
.ourhistory .pluselementohwwa {
  position: absolute;
  left: 23%;
  top: 11%;
  z-index: 1;
}

.contentpartwwahistory {
  text-align: justify;
  z-index: 5;
}

.contentpartwwahistory h3 {
  font-size: 2.5rem;
  margin-bottom: 6rem;
  letter-spacing: 0.035em;
  font-weight: 600;
  font-family: "Poppins";
  color: #17355d;
}

.contentpartwwahistory .normaltext {
  font-size: 1.05rem;
  margin-bottom: 3rem;
  letter-spacing: 0.035em;
  line-height: 1.5rem;
  font-weight: normal;
  font-family: "Poppins";
  color: #17355d;
}

.journeywwa {
  z-index: 5;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  color: #17355d;
  font-size: 3rem;
  font-weight: bold;
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  white-space: nowrap;
}

.contentpartjpwwa {
  z-index: 5;
}

.main-timeline10 .timeline {
  padding: 0;
  display: -webkit-inline-box;
}

.main-timeline10 .timeline-inner {
  text-align: center;
  margin: 20px 20px 35px 35px;
  position: relative;
}

.main-timeline10:after,
.main-timeline10:before {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.main-timeline10 .timeline {
  padding: 0;
  display: -webkit-inline-box;
}

.main-timeline10 .timeline-inner {
  text-align: center;
  margin: 20px 20px 35px 35px;
  position: relative;
}

.main-timeline10 .timeline:last-child .timeline-inner:after {
  width: 0;
}

.main-timeline10 .year {
  background: #58b25e;
  padding: 5px 0;
  border-radius: 30px 0px 0;
  font-size: 26px;
  font-weight: 700;
  color: #fff;
  z-index: 1;
  position: relative;
}

.main-timeline10 .year:after,
.main-timeline10 .year:before {
  position: absolute;
  top: -19px;
  content: "";
}

.main-timeline10 .year:before {
  right: 0;
  border: 10px solid transparent;
  border-bottom: 10px solid #58b25e;
  border-right: 10px solid #58b25e;
}

.main-timeline10 .timeline-content {
  padding: 15px 10px 5px;
  border-left: 3px solid #58b25e;
  position: relative;
  min-height: 17rem;
  z-index: 1;
  background: #fff;
  border-radius: 0 0px 20px 0px;
}

.main-timeline10 .timeline-content:before {
  content: "";
  position: absolute;
  top: 0;
  left: -1px;
  border: 10px solid transparent;
  border-top: 10px solid #58b25e;
  border-left: 10px solid #58b25e;
}

.main-timeline10 .timeline-content:after {
  content: "";
  width: 25px;
  height: 19px;
  border-radius: 20px 0 0;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

.main-timeline10 .post {
  font-size: 1.5rem;
  color: #333;
  font-weight: bold;
  padding-left: 7px;
  text-align: left;
}

.main-timeline10 .description {
  font-size: 0.95rem;
  color: #333;
  line-height: normal;
  text-align: left;
  padding-left: 9px;
}

.main-timeline10 .timeline-icon {
  width: 70px;
  height: 70px;
  line-height: 65px;
  border-radius: 50%;
  border: 5px solid #58b25e;
  background: #fff;
  font-size: 30px;
  color: #555;
  z-index: 1;
  position: absolute;
  bottom: -35px;
  left: -35px;
}

.main-timeline10 .timeline:nth-child(2n) .year {
  background: #9f84c4;
}

.main-timeline10 .timeline:nth-child(2n) .year:before {
  border-bottom-color: #9f84c4;
  border-right-color: #9f84c4;
}

.main-timeline10 .timeline:nth-child(2n) .timeline-content {
  border-left-color: #9f84c4;
}

.main-timeline10 .timeline:nth-child(2n) .timeline-content:before {
  border-top-color: #9f84c4;
  border-left-color: #9f84c4;
}

.main-timeline10 .timeline:nth-child(2n) .timeline-icon {
  border-color: #9f84c4;
}

.main-timeline10 .timeline:nth-child(3n) .year {
  background: #f35958;
}

.main-timeline10 .timeline:nth-child(3n) .year:before {
  border-bottom-color: #f35958;
  border-right-color: #f35958;
}

.main-timeline10 .timeline:nth-child(3n) .timeline-content {
  border-left-color: #f35958;
}

.main-timeline10 .timeline:nth-child(3n) .timeline-content:before {
  border-top-color: #f35958;
  border-left-color: #f35958;
}

.main-timeline10 .timeline:nth-child(3n) .timeline-icon {
  border-color: #f35958;
}

.main-timeline10 .timeline:nth-child(4n) .year {
  background: #e67e49;
}

.main-timeline10 .timeline:nth-child(4n) .year:before {
  border-bottom-color: #e67e49;
  border-right-color: #e67e49;
}

.main-timeline10 .timeline:nth-child(4n) .timeline-content {
  border-left-color: #e67e49;
}

.main-timeline10 .timeline:nth-child(4n) .timeline-content:before {
  border-top-color: #e67e49;
  border-left-color: #e67e49;
}

.main-timeline10 .timeline:nth-child(4n) .timeline-icon {
  border-color: #e67e49;
}

.wwabiglogo {
  position: absolute;
  left: 45%;
  top: 34%;
  opacity: 0.6;
  z-index: 1;
}

.aletter {
  position: absolute;
  left: 22%;
  top: 8%;
  z-index: 40;
  opacity: 0.8;
  font-size: 8rem;
  font-weight: bold;
  font-family: "Poppins";
  color: #fff;
}

.wletter {
  position: absolute;
  left: 62%;
  top: 35%;
  z-index: 40;
  opacity: 0.8;
  font-size: 8rem;
  font-weight: bold;
  font-family: "Poppins";
  color: #fff;
}

.aaletter {
  position: absolute;
  left: 14%;
  top: 62%;
  z-index: 40;
  opacity: 0.8;
  font-size: 8rem;
  font-weight: bold;
  font-family: "Poppins";
  color: #fff;
}

.rletter {
  position: absolute;
  left: 65%;
  top: -7%;
  z-index: 40;
  opacity: 0.8;
  font-size: 8rem;
  font-weight: bold;
  font-family: "Poppins";
  color: #fff;
}

.dletter {
  position: absolute;
  left: 12%;
  top: 22%;
  z-index: 40;
  opacity: 0.8;
  font-size: 8rem;
  font-weight: bold;
  font-family: "Poppins";
  color: #fff;
}

.sletter {
  position: absolute;
  right: 21%;
  bottom: 13%;
  z-index: 40;
  opacity: 0.8;
  font-size: 8rem;
  font-weight: bold;
  font-family: "Poppins";
  color: #fff;
}

.team .contentpartteam {
  position: relative;
  margin-top: 0px;
  z-index: 5;
}

.team .contentpartteam h3 {
  font-size: 4rem;
  text-align: left;
  padding-left: 18rem;
  padding-top: 6rem;
  letter-spacing: 0.035em;
  font-weight: 600;
  font-family: "Poppins";
  color: #17355d;
}

.contentpartteam h4 {
  position: relative;
  font-size: 3rem;
  margin-bottom: 2.5rem;
  letter-spacing: 0.035em;
  text-align: left;
  font-weight: 600;
  font-family: "Poppins";
  color: #17355d;
}

.contentpartteam .normaltext {
  font-size: 1.05rem;
  margin-bottom: 2rem;
  letter-spacing: 0.035em;
  line-height: 1.5rem;
  text-align: left;
  font-weight: normal;
  font-family: "Poppins";
  color: #fff;
}

.contentpartteam .gmdeskimg {
  position: relative;
  z-index: 5;
}

.team .contentpartteam h3 {
  font-size: 4rem;
  text-align: left;
  padding-left: 18rem;
  padding-top: 6rem;
  letter-spacing: 0.035em;
  font-weight: 600;
  font-family: "Poppins";
  color: #17355d;
}

.teambiglogo {
  position: absolute;
  left: 7%;
  top: 3%;
  opacity: 0.6;
  z-index: 1;
}

.pluselementteamleadership {
  position: absolute;
  left: 69%;
  top: 5%;
  z-index: 1;
}

.teambg {
  background-image: url(../img/teamdotsbg.png);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0;
  padding-bottom: 0;
  min-height: 250vh;
}

.teammembers h5 {
  position: relative;
  text-align: center;
  font-size: 4rem;
  letter-spacing: 0.035em;
  z-index: 5;
  font-weight: 600;
  font-family: "Poppins";
  color: #fff;
}

.teamselement1bot {
  position: absolute;
  left: 29%;
  top: 0%;
  z-index: 40;
  opacity: 1;
}

.pluselementteams {
  position: absolute;
  left: 52%;
  bottom: 89%;
  z-index: 20;
  opacity: 1;
}

.partnerpluselement {
  position: absolute;
  left: 5.5%;
  top: 2%;
  z-index: 1;
}

.uparrowelementpartner {
  position: absolute;
  right: 6%;
  bottom: 54%;
  z-index: 1;
}
.wcuheading h3 {
  position: relative;
  font-size: 2.5rem;
  margin-bottom: 4rem;
  letter-spacing: 0.035em;
  font-weight: 600;
  font-family: "Poppins";
  color: #fff;
  z-index: 2;
}

.contentpartpartner .normaltext {
  position: relative;
  font-size: 1.25rem;
  letter-spacing: 0.035em;
  text-align: right;
  line-height: 2rem;
  font-weight: normal;
  font-family: "Poppins";
  color: #fff;
  z-index: 2;
}

.mt-16 {
  margin-top: 16rem;
}

.hoarr {
  position: absolute;
  left: 12%;
  bottom: 6%;
  z-index: 1;
}

.histext {
  width: 100%;
  background: #475e7c;
  position: relative;
  height: 28vh;
}

.histext p {
  color: #fff;
  font-size: 1.05rem;
  margin-bottom: 3rem;
  letter-spacing: 0.035em;
  line-height: 1.8rem;
  font-weight: normal;
  font-family: "Poppins";
  margin: 0px 0px;
  padding: 32px 0% 2% 11%;
}

.histextpart .slide-container {
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  height: 30vh;
}

.histextpart .section {
  padding-top: 0;
  padding-bottom: 0;
}

.wwa .slide-bg,
.wwa .slide-bg > .wwa .inside {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  background-position: 70% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.wwa .slide-bg {
  overflow: hidden;
}

.wcu .slide-bg,
.wcu .slide-bg > .wcu .inside {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}
.wcu .slide-bg {
  overflow: hidden;
}

.wcu .slide {
  background: #ffffff;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0;
  padding-bottom: 0;
  min-height: 130vh;
}
.wcu .slide-container {
  position: relative;
  padding-top: 6rem;
  padding-bottom: 4rem;
}

.wcu .slide-bg > .inside {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.wcu .serviceelement2 {
  position: absolute;
  left: 8%;
  bottom: 4%;
  z-index: 2;
}
.wcu .semicircledownelement {
  position: absolute;
  left: 18%;
  bottom: 8%;
  z-index: 2;
}

.wcu .smallcircleelement {
  position: absolute;
  left: 15%;
  bottom: 19%;
  z-index: 1;
  animation: animName 2s linear infinite;
}

.wcubiglogo {
  position: absolute;
  left: 0px;
  top: 20px;
  z-index: 1;
}

.wcu .water1element {
  position: absolute;
  right: 0%;
  top: 7%;
  z-index: 1;
}

.wcu .semicircleelement {
  position: absolute;
  right: 15%;
  top: 2%;
  z-index: 1;
  animation: animName 20s linear infinite;
}

.contentpartwcubg {
  position: relative;
  z-index: 1;
  background: #4eaeff;
  border-radius: 20px;
  opacity: 0.8;
  min-height: auto;
}

.uparrowelementWCU {
  position: absolute;
  right: 6%;
  bottom: 15%;
  z-index: 1;
}

.contentpartwcubg .normaltext {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  letter-spacing: 0.035em;
  line-height: 2rem;
  font-weight: normal;
  font-family: "Poppins";
  color: #fff;
  border-right: solid 1px #fff;
}

.contentpartwcubg .listtext {
  font-size: 1.05rem;
  letter-spacing: 0.035em;
  line-height: 1.8rem;
  font-weight: 300;
  font-family: "Poppins";
  color: #fff;
  text-align: justify;
}

.misvis .slide {
  background: #ffffff;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 0;
  padding-bottom: 0;
  min-height: 130vh;
}
.misvis .slide-container {
  position: relative;
  min-height: 130vh;
  padding-top: 9rem;
  padding-bottom: 4rem;
}

.misvis .slide-bg > .inside {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.misvis {
  z-index: 1;
}

.missionpart {
}
.visionpart {
}

.contentpartmission h3 {
  font-size: 2.5rem;
  letter-spacing: 0.035em;
  font-weight: 600;
  font-family: "Poppins";
  color: #fff;
  z-index: 2;
  text-align: center;
}

.contentpartmission .normaltext {
  font-size: 1.25rem;
  letter-spacing: 0.035em;
  line-height: 2rem;
  font-weight: normal;
  padding: 0 20px;
  font-family: "Poppins";
  color: #fff;
  text-align: justify;
  z-index: 2;
  margin-top: 100px;
}

.contentpartvision h3 {
  font-size: 2.5rem;
  margin-bottom: 6rem;
  letter-spacing: 0.035em;
  font-weight: 600;
  font-family: "Poppins";
  color: #fff;
  z-index: 2;
  text-align: center;
}

.contentpartvision .normaltext {
  font-size: 1.25rem;
  letter-spacing: 0.035em;
  line-height: 2rem;
  padding: 0 20px;
  font-weight: normal;
  font-family: "Poppins";
  color: #fff;
  text-align: justify;
  z-index: 2;
  margin-top: 100px;
}

.pluselementmis {
  position: absolute;
  left: 10%;
  top: 3%;
  z-index: 2;
}
.pluselementvis {
  position: absolute;
  right: 10%;
  top: 3%;
  z-index: 2;
}
.uparrowelementmis {
  position: absolute;
  left: 2%;
  top: 14%;
  z-index: 2;
}
.element2vis {
  position: absolute;
  right: 8%;
  top: 26%;
  z-index: 2;
}

.bb {
  border-bottom: solid 1px #fff;
  width: 100%;
  height: 2px;
  z-index: 2;
  position: absolute;
  left: 0%;
  top: 30%;
}
.translateX263 {
  transform: translateX(-263px);
}
.journeybg .textnormal {
  color: white !important;
}
.journeybg .year {
  color: white !important;
}

.timeline {
  white-space: nowrap;
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 11rem;
}
.timeline .ship {
  position: absolute;
  top: 80px;
  left: 0;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
  z-index: 3;
}
.timeline ul {
  left: 50%;
  position: relative;
  margin-left: -120px;
  margin-bottom: 50px;
  transition: transform 0.5s linear;
}
.timeline li {
  width: 240px;
  height: 300px;
  text-align: center;
  display: inline-block;
  position: relative;
  margin-right: 20px;
  white-space: normal;
  vertical-align: top;
  cursor: pointer;
}
.timeline li:before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 30px;
  z-index: 2;
  -webkit-transition: color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    box-shadow 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    -webkit-transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    box-shadow 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    -moz-transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    box-shadow 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.timeline li .year {
  opacity: 0.1;
}
.timeline li:hover:before {
  -webkit-animation: timeline-bullet--hover 0.8s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
  -moz-animation: timeline-bullet--hover 0.8s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
  animation: timeline-bullet--hover 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    infinite;
  background-color: #d7d7ff;
}
.timeline li.next-step .year,
.timeline li.next-step p,
.timeline li.prev-step .year,
.timeline li.prev-step p {
  opacity: 0.5;
}
.timeline li.active:before {
  background-color: #29a8df;
  box-shadow: 0 0 10px 12px #29a8df;
  -webkit-transform: scale(1.8);
  -moz-transform: scale(1.8);
  -ms-transform: scale(1.8);
  -o-transform: scale(1.8);
  transform: scale(1.8);
  -webkit-animation: timeline-bullet--active 0.8s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
  -moz-animation: timeline-bullet--active 0.8s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
  animation: timeline-bullet--active 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    infinite;
}
.timeline li.active .year {
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transform: translateY(-20px);
  opacity: 1;
}
.timeline li.active p {
  opacity: 1;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.timeline li p {
  opacity: 0.1;
  -webkit-transition: opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: opacity 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.timeline li:after {
  content: "";
  position: absolute;
  top: 33px;
  left: 50%;
  margin-left: 3px;
  width: 266px;
  height: 2px;
  background-color: #4949e7;
  z-index: 1;
}
.timeline li:last-child:after {
  display: none;
}
.timeline__cursor {
  position: absolute;
  top: 36.6%;
  left: 47%;
  z-index: 111111115555;
  margin: 0 0 0 15px;
  transform: rotate(43deg);
}
.timeline li .year {
  display: block;
  margin-bottom: 60px;
  margin-top: -40px;
  width: 70%;
  margin-left: 30px;
  -webkit-transition: -webkit-transform 0.3s
    cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: -moz-transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.headingbold {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.headingbold1 {
  color: #b832b8;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  letter-spacing: 0;
}
.headingbold2 {
  color: #6f29a6;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  letter-spacing: 0;
}
.headingbold3 {
  color: #108d4b;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  letter-spacing: 0;
}
.headingbold4 {
  color: #0682ff;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  letter-spacing: 0;
}
.headingbold5 {
  color: #e97a03;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  letter-spacing: 0;
}
.headingbold6 {
  color: #ff00c6;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  letter-spacing: 0;
}
.headingbold7 {
  color: #ff006c;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  letter-spacing: 0;
}
.headingbold8 {
  color: #0a6ca4;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  letter-spacing: 0;
}
.headingbold9 {
  color: #0d9d2b;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  letter-spacing: 0;
}
.bg1 {
  background: #b832b8;
  border-radius: 50px;
}
.bg2 {
  background: #6f29a6;
  border-radius: 50px;
}
.bg3 {
  background: #108d4b;
  border-radius: 50px;
}
.bg4 {
  background: #0682ff;
  border-radius: 50px;
}
.bg5 {
  background: #e97a03;
  border-radius: 50px;
}
.bg6 {
  background: #ff00c6;
  border-radius: 50px;
}
.bg7 {
  background: #ff006c;
  border-radius: 50px;
}
.bg8 {
  background: #0a6ca4;
  border-radius: 50px;
}
.bg9 {
  background: #0d9d2b;
  border-radius: 50px;
}
.build {
  position: absolute;
  top: 90%;
  left: 42%;
}
.iata {
  position: absolute;
  top: 90%;
  left: 42%;
}
.spatr {
  position: absolute;
  top: 100%;
  left: 42%;
}
.letr {
  position: absolute;
  top: 100%;
  left: 42%;
}
.vfsg {
  position: absolute;
  top: 100%;
  left: 42%;
}
.iso {
  position: absolute;
  top: 94%;
  left: 35%;
}
.spcar {
  position: absolute;
  top: 110%;
  left: 42%;
}
.online {
  position: absolute;
  top: 100%;
  left: 42%;
}
.smtool {
  position: absolute;
  top: 100%;
  left: 42%;
}
.bubble {
  margin: 70px 0px 30px 0px;
  padding: 10px 20px 10px 20px;
  position: relative;
  border-radius: 20px;
  background: #fff;
  border-color: #fff;
}
.bubble:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 100px;
  border-top: 15px solid #fff;
  border-top-color: inherit;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}
.journeytimeline h4 {
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  color: #17355d;
  font-size: 3rem;
  font-weight: bold;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.journeybg {
  background: url(../img/jurneybg.png);
  background-repeat: no-repeat;
  height: 650px;
  width: 100%;
}
.pointer {
  width: 200px;
  height: 40px;
  position: relative;
  background: #b832b8;
  background-image: linear-gradient(#b832b8, #9834b9);
}
.pointer:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}
.pointer:before {
  content: "";
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 20px solid #b832b8;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
}

@media (max-width: 426px) {
  .whoweare .timeline__cursor {
    top: 29.2% !important;
    left: 38% !important;
  }

  .whoweare .wwabpluselement {
    display: none !important;
  }
  .whoweare .techbannertext {
    top: 20% !important;
  }
  .whoweare .techelementsmallx {
    display: none !important;
  }
  .whoweare .wwabotline {
    display: none !important;
  }
  .whoweare .pluselementohwwa {
    display: none !important;
  }
  .whoweare .wcu .smallcircleelement {
    display: none !important;
  }
  .whoweare .uparrowelementWCU {
    display: none !important;
  }
  .whoweare .smallcircleelementteams {
    display: none !important;
  }
  .whoweare .historyimagecontainer {
    display: none !important;
  }
  .whoweare .wcu .water1element {
    display: none !important;
  }
  .whoweare .wcu .semicircleelement {
    display: none !important;
  }
  .whoweare .histext {
    height: auto !important;
  }
  .whoweare .journeywwa {
    writing-mode: revert !important;
    transform: inherit !important;
    position: relative;
    left: 5%;
    bottom: 70px;
    font-size: 2rem !important;
  }
  .whoweare .contentpartwcubg .normaltext {
    border-right: none !important;
    border-bottom: solid 1px #fff;
    padding-bottom: 10px;
  }
  .whoweare .contentpartwcubg .listtext {
    padding-top: 20px;
  }
  .whoweare .semicircledownelement {
    display: none;
  }

  .whoweare .waveselementdark {
    display: none;
  }
  .whoweare .serviceelement1bot {
    display: none;
  }
  .whoweare .serviceroundtxttechnology {
    display: none;
  }
  .whoweare .misvis .slide-container {
    min-height: 100vh !important;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .whoweare .misviselementsmallx {
    display: none;
  }
  .whoweare .pluselementmis {
    display: none;
  }
  .whoweare .pluselementvis {
    display: none;
  }
  .whoweare .bb {
    display: none;
  }
  .whoweare .element2vis {
    top: 52% !important;
  }
  .whoweare .wwabiglogo {
    left: 33% !important;
    top: 45% !important;
  }
  .whoweare .aletter {
    display: none;
  }
  .whoweare .wletter {
    display: none;
  }
  .whoweare .aaletter {
    display: none;
  }
  .whoweare .rletter {
    display: none;
  }
  .whoweare .dletter {
    display: none;
  }
  .whoweare .sletter {
    display: none;
  }
  .whoweare .pluselementaward {
    display: none;
  }
  .whoweare .pluselementaward1 {
    display: none;
  }
  .whoweare .semicircleelementteam {
    display: none;
  }
  .whoweare .teambiglogo {
    display: none;
  }
  .whoweare .pluselementteamleadership {
    display: none;
  }
  .whoweare .teamselementsmallx {
    display: none;
  }
  .whoweare .semicircledownelementteams {
    display: none;
  }
  .whoweare .teamselement1bot {
    display: none;
  }
  .whoweare .pluselementteams {
    display: none;
  }
  .whoweare .team .contentpartteam h3 {
    font-size: 4rem !important;
    text-align: center !important;
    padding-left: 0rem !important;
    padding-top: 10rem !important;
  }
  .whoweare .waveselementdarkteams {
    left: 3% !important;
    bottom: 30px !important;
  }
  .whoweare .water1elementteam {
    top: 16% !important;
  }
  .whoweare .uparrowelementpartner {
    bottom: 40% !important;
  }
  .whoweare .mt-16 {
    margin-top: 30rem !important;
  }
  .whoweare .uparrowelementpartner {
    bottom: 40% !important;
  }
  /* .whoweare .teammembers h5 {
    display: none !important;
  } */
  .whoweare .contentpartteam h4 {
    padding-left: 10px;
  }
  .whoweare .gmsmsg p {
    padding-left: 10px;
  }
  .whoweare .mobpad15 {
    padding: 15px;
  }
  .whoweare .partnerpluselement {
    left: -59.5% !important;
  }
  .whoweare .teambg {
    min-height: 160vh !important;
  }
  .whoweare .wwasmlogo {
    display: none !important;
  }
  .whoweare .serviceelementjwwab {
    display: none !important;
  }
  .whoweare .techpulusbot {
    bottom: 60% !important;
  }
  .whoweare .contentpartpartner h3 {
    text-align: left !important;
  }
  .whoweare .contentpartpartner .normaltext {
    text-align: left !important;
  }
  .whoweare .whowearebannerfont {
    font-size: 5rem !important;
  }
}

@media only screen and (max-width: 767px) {
  .main-timeline10 .timeline-inner:after,
  .main-timeline10 .timeline:nth-child(2n) .timeline-inner:after {
    width: 100%;
    height: 3px;
    left: 0;
  }
}

@media only screen and (max-width: 990px) {
  .main-timeline10 .timeline-inner:after {
    width: 110%;
  }

  .main-timeline10 .timeline:nth-child(2n) .timeline-inner:after {
    width: 0;
  }
}

/* @media (min-width: 427px) and (max-width: 769px) { */
@media (min-width: 427px) and (max-width: 821px) {
  .whoweare .historyimgpartwwa {
    top: 45% !important;
  }
  .whoweare .water1elementteam {
    top: 5% !important;
  }
  .whoweare .waveselementdarkteams {
    bottom: 35px !important;
  }
  .whoweare .contentpartpartner h3 {
    text-align: left !important;
  }
  .whoweare .contentpartpartner .normaltext {
    text-align: left !important;
  }
  .whoweare .timeline__cursor {
    top: 31.6% !important;
    left: 44% !important;
  }
  .whoweare .row.mt-16 {
    justify-content: space-around;
  }
  .whoweare .historyimage {
    top: 48% !important;
  }
  .whoweare .ourhistory .pluselementohwwa {
    top: 3% !important;
    left: 28% !important;
  }
  .whoweare .journeywwa {
    text-align: center;
  }
  .whoweare .contentpartwcubg .normaltext {
    border-right: none !important;
    border-bottom: solid 1px #fff;
    padding-bottom: 10px;
  }
  .whoweare .contentpartwcubg .listtext {
    padding-top: 20px;
  }
  .whoweare .serviceroundtxttechnology {
    display: none !important;
  }
  .whoweare .smallcircleelement {
    display: none !important;
  }
  .whoweare .semicircledownelement {
    display: none !important;
  }
  .whoweare .serviceelement1bot {
    display: none !important;
  }
  .whoweare .misviselementsmallx {
    display: none !important;
  }
  .whoweare .pluselementmis {
    display: none !important;
  }
  .whoweare .pluselementvis {
    display: none !important;
  }
  .whoweare .bb {
    display: none !important;
  }
  .whoweare .contentpartwcubg {
    top: 170px !important;
  }
  .whoweare .misvis .slide-container {
    min-height: 90vh !important;
  }
  .whoweare .wwabiglogo {
    left: 41% !important;
    top: 34% !important;
  }
  .whoweare .teambg {
    min-height: 100vh !important;
  }

  .whoweare .pluselementteams {
    display: none !important;
  }
  .whoweare .teamselementsmallx {
    display: none !important;
  }
  .whoweare .teamselement1bot {
    display: none !important;
  }
  .whoweare .semicircleelementteam {
    display: none !important;
  }
  .whoweare .pluselementteamleadership {
    display: none !important;
  }
  .whoweare .semicircledownelementteams {
    display: none !important;
  }
  .whoweare .smallcircleelementteams {
    display: none !important;
  }
  .whoweare .serviceelementteams {
    display: none !important;
  }
  .whoweare .contentpartpartner {
    visibility: hidden;
    padding: 15px;
  }
  .whoweare .contentpartpartner h3 {
    text-align: left !important;
  }
  .whoweare .contentpartpartner .normaltext {
    text-align: left !important;
  }
  .whoweare .slide-container {
    padding-top: 0px !important;
  }
  .whoweare .partnerpluselement {
    display: none !important;
  }
  .whoweare .rightpartpartner {
    padding: 15px !important;
  }
  .whoweare .wwabpluselement {
    left: 50% !important;
    top: 36% !important;
  }
  .whoweare .techpulusbot {
    display: none !important;
  }
  .whoweare .contentpartwwahistory {
    margin-top: 50px !important;
  }
  .whoweare .histext p {
    padding: 10px 1% 1% 1%;
    font-size: 1rem;
  }
  .whoweare .wcu .serviceelement2 {
    left: 1%;
    bottom: 1%;
  }
}

@keyframes timeline-bullet--hover {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}

@keyframes timeline-bullet--active {
  0% {
    box-shadow: 0 0 10px 6px #202095;
  }
  50% {
    box-shadow: 0 0 10px 12px #202095;
  }
  to {
    box-shadow: 0 0 10px 6px #202095;
  }
}
